# Auto detect text files and perform LF normalization
* text=auto

#include <stdio.h>
#include <string.h>
#include <ctype.h>
#include <stdlib.h>
#include <time.h>
#include <unistd.h>

    void to_lowercase(char*str){
        for (int i = 0; str[i]; i++){
            str[i] = tolower((unsigned char)str[i]); // serve para o char funcionar com letras maiusculas e minusculas
        }
    }

int main(){
int aleatoriopc, npcmax = 3, npcmin = 0, numerojogador, soma, chutesoma, pontjog = 0, pontcomp = 0;

    char menu[5];

    printf("Vamos jogar bizuka!\n");
    printf("Digite o que deseja fazer:\n> jogar\n> regras\n");
    scanf("%s", menu);
    to_lowercase(menu);

    if(strcmp(menu,"jogar") == 0){
        printf("Digite seu numero:");
        scanf("%d", &numerojogador);

        while(numerojogador > 3 || numerojogador < 0){
            printf("Numero invalido, digite novamente:\n");
            scanf("%d", &numerojogador);
        }
        printf("O computador vai pensar em um numero... \n");

        srand(time(NULL));
        aleatoriopc = (rand() % (npcmax - npcmin + 1)) + npcmin; // escolhe um numero aleatorio entre 0 e 3

        sleep(2);

        printf("Numero escolhido!\n Quanto vai dar a soma?\n");
        scanf("%d", &chutesoma);

        printf("O computador escolheu: %d\n", aleatoriopc);
        soma = aleatoriopc + numerojogador;
        printf("Soma igual a: %d\n", soma);

        if(chutesoma==soma){
            printf("PARABENS! Voce marcou 1 ponto\n");
            pontjog++;
        }
    }

    else if(strcmp(menu, "regras") == 0){

    printf("1: Para jogar, escolha um numero de 0 a 3.\n");
    printf("2: O computador escolhera um numero aleatorio de 0 a 3.\n");
    printf("3: Entao voce deve acertar a soma do numero que voce escolheu com o que o computador escolheu.\n");
    printf("4: Para primeira rodada voce comeca tentando adivinhar a soma e o computador tenta apos voce.\n");
    printf("5: Para segunda rodada o computador comeca tentando adivinhar a soma e voce tenta apos o chute dele.\n");
    printf("6: O chute de soma do jogador e do computador nao podem ser iguais");
    }


}